:root {
    --main-color : #20c997;
    --hover-color: #1baa80;
}

* {
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;


}

body {
    font-family: 'Poppins', sans-serif;
    color      : #4c4d4d;
    margin     : 0;
    padding    : 0;
    overflow-y : hidden;

}

*::selection {
    color           : #fff;
    background-color: var(--main-color);

}

/*////////// Common Style /////////////*/

a {
    text-decoration   : none;
    color             : var(--main-color);
    transition        : all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition   : all 0.2s ease;
    -ms-transition    : all 0.2s ease;
    -o-transition     : all 0.2s ease;
}

a:hover {
    color: var(--hover-color);
}

section,
footer {
    padding: 4rem;
}

p {
    margin: 0 0 1rem 0;

}

ul {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

.body-container {
    width : 90%;
    margin: 0 auto;
}

.gy-bg {
    background-color: #f8f9fa;
}

.clr {
    clear: both;
}

.btn {
    font-size            : 1rem;
    font-weight          : 500;
    border               : 2px solid var(--main-color);
    border-radius        : 50rem;
    -webkit-border-radius: 50rem;
    -moz-border-radius   : 50rem;
    -ms-border-radius    : 50rem;
    -o-border-radius     : 50rem;
    padding              : 0.8rem 2.6rem;
    background-color     : var(--main-color);
    color                : #fff !important;
    transition           : all 0.5s ease;
    -webkit-transition   : all 0.5s ease;
    -moz-transition      : all 0.5s ease;
    -ms-transition       : all 0.5s ease;
    -o-transition        : all 0.5s ease;
}

.all-sec-header {
    position     : relative;
    margin-bottom: 3rem;
    display      : flex;
    text-align   : center;
}

.all-h2 {
    color      : #dee3e4;
    opacity    : 0.4;
    font-weight: 600;
    font-size  : calc(1.9rem + 8vw);
    width      : 100%;
    margin     : 0;
}

.all-text {
    color      : #212529;
    font-weight: 600;
    font-size  : 2.25rem;
    width      : 100%;
    align-self : center;
    position   : absolute;
    margin     : 0;

}

.all-text::after {
    content         : "";
    width           : 80px;
    height          : 3px;
    background-color: var(--main-color);
    margin          : 0 auto;
    position        : absolute;
    top             : 53px;
    left            : 45%;
}

/*  //////////////Navbar-content Section////////////*/

#main-nav {
    background-color  : transparent;
    transition        : all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition   : all 0.5s ease-in-out;
    -ms-transition    : all 0.5s ease-in-out;
    -o-transition     : all 0.5s ease-in-out;
}




.navbar-nav li a {
    color             : rgba(250, 250, 250, 0.9);
    font-size         : 16px;
    font-weight       : 300;
    transition        : color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    -moz-transition   : color 0.2s ease;
    -ms-transition    : color 0.2s ease;
    -o-transition     : color 0.2s ease;
    padding           : 0px 0.85rem !important;

}

.navbar-nav li a:hover {
    color: var(--main-color);

}

.navbar-nav li .active-link {
    color: var(--main-color);

}

.navbar-toggler {
    outline  : none;
    font-size: 1.25rem;
    padding  : 0.5rem 0.75rem;
    border   : none;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.navbar-toggler span {
    width           : 25px;
    height          : 2px;
    color           : #fff;
    background-color: #fff;
    display         : flex;
    margin          : 0.25rem auto;
}

.navbar-toggler span:last-child {
    width: 10px;
}

/* Main Section */
.main-sec {
    background-image     : url(../images/intro-bg.jpg);
    background-size      : cover;
    background-attachment: fixed;
    background-position  : center 0px;
    height               : 100vh;
    position             : relative;
}

.color-box {
    width            : 320px;
    height           : 220px;
    position         : fixed;
    top              : 50%;
    right            : -281px;
    transform        : translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform   : translateY(-50%);
    -ms-transform    : translateY(-50%);
    -o-transform     : translateY(-50%);
    z-index          : 999;

}

.right-btn {
    width                : 40px;
    height               : 40px;
    background-color     : #555;
    color                : #fff;
    border-radius        : 5px 0px 0px 5px;
    font-size            : 1.25rem;
    padding              : 0;
    box-shadow           : 0px 5px 15px #00000046;
    border               : none;
    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius   : 5px 0px 0px 5px;
    -ms-border-radius    : 5px 0px 0px 5px;
    -o-border-radius     : 5px 0px 0px 5px;
}

.inner-box {
    width  : 90%;
    height : 100%;
    padding: 20px 10px;

}

.inner-box h2 {
    font-size: 1rem;
}

.inner-box hr {
    opacity: 0.2;
}

.inner-box .color {
    width                : 30px;
    height               : 30px;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    cursor               : pointer;
    margin               : 5px;
    display              : inline-block;

}

.inner-box button {
    font-size       : .875rem;
    padding         : 0.5rem 1rem;
    background-color: #20c997 !important;
    border          : 1px solid #1baa80 !important;
}

.main-container {
    height          : 100%;
    width           : 100%;
    background-color: rgb(17, 20, 24, 0.8);
    display         : flex;
    justify-content : center;
    align-items     : center;

}

.main-content {
    text-align : center;
    color      : #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-content .welcome-text {
    font-weight  : 500;
    font-size    : 1.75rem;
    margin-bottom: 1rem;
}

.main-content h1 {
    font-weight  : 600;
    margin-top   : 0;
    margin-bottom: 1rem;
    font-size    : 70px;
}

.main-content .based-text {
    color    : #dee3e4;
    font-size: 1.3rem;
    margin   : 0 0 24px 0;
}

.main-content .hire-btn {
    margin-top      : 0.5rem;
    color           : var(--main-color);
    background-color: transparent;

}

.main-content .hire-btn:hover {
    background-color: var(--main-color);
    color           : #fff;
}

.scroll-btn {
    position  : absolute;
    right     : 0;
    left      : 0;
    bottom    : 40px;
    text-align: center;
    font-size : 20px;
    color     : #fff;

}

.scroll-btn .span-down {
    position         : relative;
    left             : 10px;
    top              : 6px;
    animation        : fadeDown 2s infinite;
    -webkit-animation: fadeDown 1.5s infinite;
}

@keyframes fadeDown {
    0% {
        top    : 6px;
        opacity: 1;
    }

    50% {
        top    : 20px;
        opacity: 0;
    }

    100% {
        top    : 6px;
        opacity: 0;
    }
}

/*  //////////////About me Section////////////*/
.about-container {
    display        : flex;
    justify-content: space-between;
    align-items    : baseline;
}

.about-me-content {

    width: 58%;
}

.about-me-info {
    width       : 40%;
    padding-left: 1.5rem;
}

.about-me-info ul {
    margin-bottom: 1rem;
}

.about-me-info ul li {
    border-bottom: 1px solid #eaeaea;
    padding      : 15px 0;
}

.about-me-info ul li:last-child {
    border: none;
}

.about-me-info ul li .list-head {
    margin-right: 0.5rem;
    font-weight : 600;
}

.btn-2:hover {
    box-shadow      : 0px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--hover-color);
    border-color    : var(--hover-color);
}

.h2-text {
    color        : #252b33;
    font-weight  : 600;
    font-size    : 1.75rem;
    margin-bottom: 1rem;
}

.color-sub-txt {
    color: var(--main-color);
}

.about-counter {
    display    : flex;
    align-items: center;
    margin-top : 3rem;
    overflow   : hidden;

}

.counter-box {
    width         : 25%;
    position      : relative;
    text-align    : center;
    padding-top   : 20px;
    padding-bottom: 20px;


}

.counter-box::before {
    content    : "";
    position   : absolute;
    height     : 100%;
    top        : 0;
    left       : -1px;
    border-left: 1px dotted #e0dede;

}

.counter-box h4 {
    font-size    : calc(1.2rem + 2vw);
    color        : #6c757d;
    margin-bottom: 0;
    margin-top   : 0;
}

.counter-box p {
    margin-bottom: 0;
    margin-top   : 0;
}

/* /////////What we do Section////////*/
.services-container {
    display  : flex;
    flex-wrap: wrap;
}

.service-content {
    padding      : 0 12px;
    width        : 50%;
    padding-left : 90px;
    margin-bottom: 3rem;
    position     : relative;
}

.service-icon {
    color                : var(--main-color);
    background-color     : #fff;
    border-radius        : 0.25rem;
    box-shadow           : 0 .125rem .25rem rgba(0, 0, 0, .075);
    width                : 70px;
    height               : 70px;
    display              : flex;
    justify-content      : center;
    align-items          : center;
    position             : absolute;
    top                  : 0;
    left                 : 0;
    font-size            : 30px;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius   : 0.25rem;
    -ms-border-radius    : 0.25rem;
    -o-border-radius     : 0.25rem;
}

.service-content h3 {
    margin     : 0 0 10px 0;
    font-weight: 500;
    font-size  : 20px;
    color      : #252b33;
}

.service-content p {
    margin: 0;
}

/* ///////Resume Section//////////////////// */

.resume-container {
    display        : flex;
    justify-content: space-between;
}

.resume-cols {
    width  : 50%;
    padding: 0 25px;
}

.resume-cols h2,
.skills-h2 {
    font-weight: 600;
    font-size  : 1.5rem;
    color      : #252b33;
    margin-top : 0;
}

.resume-content {
    border-radius        : 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius   : 0.25rem;
    -ms-border-radius    : 0.25rem;
    -o-border-radius     : 0.25rem;
    padding              : 1.25rem;
    border               : 1px solid #dee2e6;
    margin-bottom        : 1.5rem;
}

.duration-txt {
    display              : inline-block;
    background-color     : var(--main-color);
    color                : #fff;
    font-weight          : 400;
    font-size            : 0.8rem;
    border-radius        : 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius   : 0.25rem;
    -ms-border-radius    : 0.25rem;
    -o-border-radius     : 0.25rem;
    padding              : 0.35em 0.65em;
}

.resume-content h3 {
    font-weight  : 500;
    color        : #252b33;
    margin-top   : 0;
    margin-bottom: 0.5rem;
    font-size    : 1.3rem;

}

.rd-txt {
    color: #dc3545;
}

.describtion-txt {
    margin-bottom: 0;
}

.skills-h2 {
    padding: 0 25px;
}

.skill-txt {
    font-weight  : 500;
    color        : #212529;
    text-align   : left;
    margin-bottom: 0.5rem;
}

.skill-txt .progress-precent {
    float: right;
}

.progress-bar-container {
    height               : 0.5rem;
    background-color     : #e9ecef;
    border-radius        : 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius   : 0.25rem;
    -ms-border-radius    : 0.25rem;
    -o-border-radius     : 0.25rem;
    overflow             : hidden;
    display              : flex;
    margin-bottom        : 1.5rem;
}

.progress-bar {
    background-color  : var(--main-color);
    height            : 100%;
    transition        : all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition   : all 0.5s ease-in-out;
    -ms-transition    : all 0.5s ease-in-out;
    -o-transition     : all 0.5s ease-in-out;
}

.cv-download {
    text-align: center;
    margin-top: 3rem;
}

.gy-btn {
    color           : #6c757d !important;
    border          : 2px solid #6c757d;
    background-color: transparent;
}

.gy-btn:hover {
    color           : #fff !important;
    background-color: #6c757d;
}

/* ///////////////Portfolio Section//////////////// */

.portfolio-list {
    list-style     : none;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 3rem;
}

.portfolio-list li a {
    padding: 0.6rem 1rem;
    color  : #7b8084;
    cursor : pointer;

}

.portfolio-list li a:hover {
    color: var(--main-color);

}

.portfolio-list li .port-active-link {
    color        : var(--main-color);
    border-bottom: 2px solid var(--main-color);
}


.portfolio-inner-content {
    position             : relative;
    overflow             : hidden;
    border-radius        : 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius   : 0.25rem;
    -ms-border-radius    : 0.25rem;
    -o-border-radius     : 0.25rem;
}

.portfolio-inner-content img {
    width             : 100%;
    display           : block;
    transition        : all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
}

.portfolio-content:hover .portfolio-inner-content img {
    filter           : blur(2px);
    transform        : scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform   : scale(1.3);
    -ms-transform    : scale(1.3);
    -o-transform     : scale(1.3);
    -webkit-filter   : blur(2px);
}

.portfolio-overlay {
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity         : 0;
    transition      : opacity 0.3s;
    text-align      : center;
    display         : flex;
}

.portfolio-content:hover .portfolio-inner-content .portfolio-overlay {
    opacity: 1
}

.portfolio-overlay-details {
    margin-top   : auto;
    margin-bottom: auto;
    width        : 100%;
}

.proj-title {
    font-weight  : 400;
    color        : #fff;
    font-size    : 1.25rem;
    margin-top   : 0;
    margin-bottom: 0.5rem;
}

.proj-cat {
    color: #dee3e4;
}

/* /////////////Testemonial Section////////////////// */


.test-container {
    border-radius        : 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius   : 0.25rem;
    -ms-border-radius    : 0.25rem;
    -o-border-radius     : 0.25rem;
    background-color     : #f8f9fa;
    padding              : 3rem;
    margin-right         : 25px;
}

.client-info {
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    margin-bottom  : 1.5rem;

}

.client-info img {
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
}

.info-txt {
    margin-left: 1rem;
}

.info-txt .client-name {
    margin-bottom: 0;
    font-weight  : 600;
    color        : #212529;

}

.info-txt .client-title {
    font-weight: 500;
    color      : #6c757d;
}

.teste-txt {
    margin-bottom: 1.5rem;
    color        : #212529;
    font-weight  : 500;
    margin-top   : 0;
}

.teste-review {
    color: #ffc107;
}

.owl-carousel button.owl-dot {
    border               : 1px solid transparent;
    border-radius        : 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius    : 50%;
    -o-border-radius     : 50%;
    margin-left          : 5px;
    width                : 20px;
    height               : 20px;
    padding              : 4px;
}

.owl-theme .owl-dots .owl-dot span {
    margin: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--main-color);
    box-shadow      : 0px 0px 5px rgb(0 0 0 / 5%);

}

.owl-theme .owl-dots .owl-dot.active,
.owl-theme .owl-dots .owl-dot:hover {
    border-color: var(--main-color);
}


/* /////////Contact us///////////// */

.contact-container {
    display: flex;
}

.contact-info {
    width     : 33%;
    margin-top: 48px;
}

.contact-form {
    width     : 66%;
    margin-top: 48px;
    padding   : 0 12px;

}

.info-head {
    margin-top   : 0;
    margin-bottom: 1rem;
    color        : #252b33;
    font-weight  : 500;
}

.address-txt {
    margin-bottom: 1.5rem;
    margin-top   : 0;
}

.address-txt2 {
    margin-bottom: 0.25rem;
    margin-top   : 0;
}

.address-icon {
    color       : var(--main-color);
    margin-right: 0.5rem;
    font-size   : 18px;
}

.social-list {
    display        : flex;
    justify-content: flex-start;
}

.social-list li {
    margin : 2px 6px;
    padding: 0;

}

.social-list li:first-child {
    margin-left: 0;
}

.social-list li:last-child {
    margin-right: 0;
}

.social-link {
    color             : #4d555a;
    font-size         : 18px;
    transition        : all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition   : all 0.2s ease;
    -ms-transition    : all 0.2s ease;
    -o-transition     : all 0.2s ease;
}

.dribbble-link:hover {
    color: #ea4c89;
}

.twitter-link:hover {
    color: #00ACEE;
}

.facebook-link:hover {
    color: #3B5998;
}

.google-link:hover {
    color: #DD4B39;
}

.github-link:hover {
    color: #333333;
}

.form-input-field {
    display        : flex;
    justify-content: space-between;
}

.sub-form-input {
    width: 48%;


}

.form-control {
    width        : 100%;
    display      : block;
    color        : #656565;
    padding      : .810rem .96rem;
    border       : 1px solid #ced4da;
    border-radius: 4px;
    font-size    : 1rem;
    margin-bottom: 25px;
    font-weight  : 400;
}

.form-control::placeholder {
    color: #b1b4b6;
}

.send-msg {
    margin-top: 1.5rem;
    text-align: center;
}

/* /////////////Footer Section ////////////////////*/
.footer-container {
    display: flex;
}

.footer-content {
    color: #252b33;
    width: 50%;
}

.copy-right {
    margin: 0;
}

.copy-right a {
    font-weight: 500;
}

.foot-list {
    display        : flex;
    justify-content: flex-end;
}

.fs-foot-list-item {
    position: relative;
}

.fs-foot-list-item::after {
    content         : "";
    height          : 15px;
    width           : 1px;
    position        : absolute;
    top             : 30%;
    right           : 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.foot-list-items a {
    padding           : 0.5rem 1rem;
    color             : #252b33;
    transition        : all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition   : all 0.2s ease;
    -ms-transition    : all 0.2s ease;
    -o-transition     : all 0.2s ease;
}

.foot-list-items a:hover {
    color: var(--main-color);
}

/* //////////loader page////////////////////////// */
#loader {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: #fff;
    z-index         : 99999;
    display         : flex;
    justify-content : center;
    align-items     : center;

}

.lds-ellipsis,
.lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis {
    display : inline-block;
    position: relative;
    width   : 80px;
    height  : 80px;
}

.lds-ellipsis div {
    position                 : absolute;
    top                      : 33.33333px;
    width                    : 13.33333px;
    height                   : 13.33333px;
    border-radius            : 50%;
    background-color         : #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left     : 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left     : 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left     : 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left     : 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* ///////////////scroll top////////////////////// */
#topBtn {
    position          : fixed;
    bottom            : 30px;
    right             : 30px;
    background-color  : rgba(0, 0, 0, 0.2);
    color             : #fff;
    outline           : none;
    box-shadow        : none;
    border            : none;
    width             : 40px;
    height            : 40px;
    transition        : all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition   : all 0.3s ease-in-out;
    -ms-transition    : all 0.3s ease-in-out;
    -o-transition     : all 0.3s ease-in-out;
    display           : none;
}

#topBtn:hover {
    background-color: var(--main-color);
    box-shadow      : 0px 5px 15px rgb(0 0 0 / 25%);

}

/* ////////////////Media Queries //////////////////*/
@media screen and (max-width:319px) {

    section,
    footer {
        padding: 0.15rem;
    }

    .all-text::after {
        left: 30%;
        top : 100px;
    }
}

@media screen and (min-width:320px) and (max-width:600px) {
    body {
        overflow-x: hidden;
    }

    section,
    footer {
        padding: 0.5rem;
    }

    .all-text::after {
        left: 40%
    }
}



@media screen and (min-width:601px) and (max-width:767px) {

    section,
    footer {
        padding: 1rem;
    }


    .body-container {
        padding: 10px;
    }

}

@media screen and (max-width:767px) {


    .main-content h1 {
        font-size: 35px;
    }

    .btn {
        padding: 0.81rem 2rem;
    }



    .about-counter,
    .resume-container,
    .contact-container {
        flex-wrap: wrap;
    }

    .counter-box {
        width: 50%;
    }

    .counter-box::after {
        content      : "";
        position     : absolute;
        width        : 100%;
        height       : 0;
        left         : 0;
        bottom       : -1px;
        border-bottom: 1px dotted #e0dede;
    }

    .service-content,
    .resume-cols {
        width: 100%;
    }

    .proj-outer,
    .contact-info,
    .contact-form {
        width: 100%;
    }

    .contact-info {
        order     : 1;
        text-align: center;
    }

    .contact-form {
        order: 0;
    }

    .social-list {
        justify-content: center;
    }

    .txt-center {
        text-align: center;

    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    section,
    footer {
        padding: 2.5rem;
    }

  


}

@media screen and (max-width:992px) {
    .navbar-collapse {
        background-color: #111;
        margin-top      : 10px;
    }

    .navbar-collapse .navbar-nav {
        padding: 15px;
    }

    .navbar-collapse ul.navbar-nav li {
        border-bottom: 1px solid rgba(250, 250, 250, 0.15);
    }

    .navbar-collapse ul.navbar-nav li:last-child {
        border-bottom: none;
    }

    .navbar-collapse ul.navbar-nav li a {
        padding: 8px 0 !important;
    }

    .about-container,
   
    .footer-container {

        flex-wrap: wrap;
    }

    .about-me-content,
    .foot-copy-right {
        text-align: center;
        width     : 100%;
    }

    .about-me-info {
        width       : 100%;
        padding-left: 0;
    }

  

    .footer-content {
        width: 100%;
    }

    .copy-right {
        margin-bottom: 1rem;
    }

    .foot-list {
        justify-content: center;
    }


}

@media screen and (max-width:1199px) {
    .form-input-field {
        flex-wrap: wrap;
    }

    .sub-form-input {
        width: 100%;
    }
}